:root {
  --green: #38c3a3;
  --green-rgba: rgba(56, 195, 163, 0.15);
  --red: #ce2638;
  --red-rgba: rgba(206, 38, 51, 0.1);
  --yellow: #ffb82e;
  --blue: #1d61dc;
  --blue-rgba: rgba(29, 97, 220, 0.1);
  --purple: #613cea;
  --purple-rgba: #f6f4fe;
  --pink: #c73fa8;
  --pink-rgba: rgba(251, 225, 245, 1);

  /* for heading and important text */
  --yankees-blue: #132538;
  /* for normal text */
  --dark-grey: #737a83;
  /* for normal state background buttons or UI elements */
  --white-smoke: #f3f5f7;
  /* for normal state icons and text */
  --grey: #b6babd;
  /* for borders */
  --snow-dark: rgb(230, 230, 230);
  /* for background UI elements */
  --snow: #fcfbfc;
  /* Borders */
  --border-color: var(--snow-dark);
}

/* ::::::::::::::: START CSSTransitions styles ::::::::::::::: */

.roll-appear {
  opacity: 0;
}

.roll-enter {
  opacity: 0;
}

.roll-enter-done {
  transform: translateY(300px);
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}

.roll-exit {
  transform: translateY(300px);
  opacity: 1;
}

.roll-exit-active {
  transform: translateY(0);
  opacity: 0;
  transition: transform 1000ms, opacity 1000ms;
}

/* ::::::::::::::: END CSSTransitions styles ::::::::::::::: */

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
